@import "../../styles/variables.scss";

.about-container{
    background-color: #fff;
    height: 100vh;
    padding: 0 5rem;

    .about-header{
        color: $default-secondary-color;
        padding: 5rem;
        font-size: 3.5rem;
        font-family: $default-text-style;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;

    }

    .about-text{
        color: $default-font-color;
        font-size: 2rem;
        padding: 0 15rem 0 15rem;
        font-family: $default-text-style;
        line-height: 3.5rem;
    }
}

.img-container{
    height: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;


.about-img{
    width: 15%;
    border-radius: 100%;
    object-fit: cover;
    margin: 5rem;
    box-shadow: 0 1.5rem 4rem rgba(#000000, .15);

    &:hover{
        transform: scale(1.3);
    }
}

&:hover .about-img:not(:hover){
    transform: scale(.70);
    filter: blur(2px);
}
}
