@import "../../styles/variables.scss";

.about-container{
    background-color: #fff;
    height: 70vh;

    .about-header{
        color: $default-secondary-color;
        padding: 5rem;
        font-size: 4rem;
        font-family: $default-text-style;
        font-weight: bold;
        text-align: center;

    }

    .about-text{
        color: $default-font-color;
        font-size: 2rem;
        padding: 0 15rem 0 15rem;
        font-family: $default-text-style;
        line-height: 3.5rem;

        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid #eee;

        hyphens: auto;
    }
}