@import '../../styles/variables.scss';

.landing {
  background-color:darken(#032059, 7%);
  height: 100vh;

  @include tablet{
    height: 80vh;
  }

  @include mobile{
    height: 70vh;
}

  .headshot-headline-container {
      position: relative;
      top: 15%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: center;

    .landing-headline {
      color: $secondary-font-color;
      font-size: 7rem;
      margin-bottom: 5rem;
      font-family: $header-font;
      animation: popup 3s;

      @include mobile{
        font-size: 3rem;
      }
    }

    @keyframes popup {
      0% { 
      opacity: 0;
      transform: translateY(2rem); 
        }
      100%{
        opacity: 1;
        transform: translate(0);
    }
}


    .landing-headshot {
      width: 20%;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 2rem;
      animation: popup 3s;

    @include tablet {
      width: 20%;
    }

    @include mobile{
      width: 30%;
  }

    }
  }

    .landing-sub-header{
      font-family: $default-text-style;
      color: $secondary-font-color;
      font-size: 1.3rem;

      @include mobile{
        font-size: .9rem;
        margin: 1rem 2rem 0 2rem;
      }
    }
  }

