@import '../../styles/variables.scss';


.projects-page{
    margin-top: 100px;

    .project-header{
        text-align: center;
        font-size: 50px;
        font-family: $default-text-style;
        border-bottom: $default-on-hover-color solid 5px;
        width: 14%;
        padding-bottom: 4px;
    }
}