@import '../../styles/variables.scss';


.projects-page{
    margin-top: -7rem;
    background-color: $secondary-background-color-darker;
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);

    .project-header{
        text-align: center;
        font-size: 3.5rem;
        font-family: $default-text-style;
        text-transform: uppercase;
        font-weight: bold;
        width: 14%;
        color: $default-secondary-color;
    }
}
