@import '../../styles/variables.scss';


.projects-page{
    margin-top: 5rem;

    .project-header{
        margin-top: 8rem;
        text-align: center;
        font-size: 4rem;
        font-family: $default-text-style;
        font-weight: bold;
        width: 14%;
        color: $default-secondary-color;
    }
}