@import "../styles/fonts.scss";

$secondary-font-color: #D9D9D9;
$default-secondary-color: #BF215B;
$default-font-color: #0D0D0D;

$default-text-style: 'Noto Sans', ;
$header-font: 'Pacifico', ;

@mixin mobile {
    @media screen and (max-width: 767px) {@content;}
}

@mixin tablet {
    @media screen and (max-width: 1023px) { @content;}

}

@mixin clearfix {
    &::after{
        content:"";
        display: table;
        clear: both;
    }
}