@import '../../styles/variables.scss';

.contact-page{
    background-color: #032059;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    .contact-tag{
        font-size: 6rem;
        padding-top: 7rem;
        text-align: center;
        font-family: $header-font;
        color: $secondary-font-color;
        

        .email-tag{
            &:hover{
                color: $default-secondary-color;
                cursor: pointer;
            }
        }
    }
    .social-container{
        display: flex;
        flex-direction: row;
        padding-bottom: 5rem;

        .social-icon{
            margin-right: 1rem;

            &:hover{
                fill: $default-secondary-color;
                cursor: pointer;
            }
        }
    }
}