@import '../../styles/variables.scss';

.contact-page{
    background-color: #032059;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mobile{
        height:  70vh;
    }

    @include tablet {
        height: 80vh;
    }

    .contact-tag{
        font-size: 60px;
        padding-top: 70px;
        text-align: center;
        font-family: $contact-font;
        color: $default-font-color;

        @include mobile{
            font-size: 40px;
        }
        

        .email-tag{
            &:hover{
                color: $default-on-hover-color;
                cursor: pointer;
            }
        }
    }
    .social-container{
        display: flex;
        flex-direction: row;
        padding-bottom: 50px;

        .social-icon{
            margin-right: 10px;

            &:hover{
                fill: $default-on-hover-color;
                cursor: pointer;
            }
        }
    }
}