@import '../../styles/variables.scss';

.project-card{
    width: 80%;
    height: 80%;
    display: table;
    flex-direction: column;
    padding: 3rem 2rem;
    margin-bottom: 3rem;
    border-radius: 3px;

    &:first-child{
        margin-top: 2rem;
    }

    box-shadow: 0 1rem 1rem rgba(0,0,0,.2);

    &__video{
        width: 100%;
        border-radius: 2px;
    }

    &__right{
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    text-align: center;
    }

    &__left{
        display: table-cell;
        width: 50%;
        padding-right: 2rem;
    }


        .project-card-title{
            color: $default-secondary-color;
            margin-bottom: 1rem;
            font-family: $default-text-style;
            font-size: 2rem;
            font-weight: bolder;
            text-transform: uppercase;

        }
    
        .project-card-description{
            color: $default-font-color;
            font-family: $default-text-style;
            font-size: 1.8rem;

            
        }

    .button-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;

        .blank-out{
            background-color: lightgray;
            width: 13rem;
            padding: 2rem;
            border: .2rem black solid;
            margin-right: 3rem;
            text-align: center;
            opacity: 0.7;
            font-size: 1.5rem;

        }
        

        .button{
            width: 13rem;
            padding: 2rem;
            border: .2rem black solid;
            margin-right: 3rem;
            text-align: center;
            font-family: $default-text-style;
            font-size: 1.5rem;
            
            &:hover{
                border-radius: 6rem;
                background-color:$default-secondary-color;
                border: .2rem transparent solid;
                color: $secondary-font-color;
                transform: translateY(-.3rem);
                box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
            }

            &:active {
                transform: translateY(-.1rem);
                box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
            }

        }
    }

    }
