@import '../../styles/variables.scss';

.project-card{
    width: 64%;
    height: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;

        .project-card-title{
            color: $default-project-page-font;
            margin-bottom: 10px;
        }
    
        .project-card-description{
            color: $default-project-page-font;
        }

    .button-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        

        .button{
            width: 130px;
            padding: 20px;
            border: 2px black solid;
            margin-right: 30px;
            text-align: center;

            &:hover{
                border-radius: 70px;
                background-color:$default-on-hover-color;
                border: 2px snow solid;
                color: $default-font-color;

            }

        }
    }

    }
