@import '../../styles/variables.scss';

.header-container{
    position: relative;
    top: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
    height: 180px;

    .header-link{
        color: $default-font-color;
        font-size: 18px;
        font-family: $default-text-style;

        &:hover{
            color: $default-on-hover-color; 
            opacity: 0.8;
            cursor: pointer;
            padding-bottom: 5px;
            border-bottom: solid $default-on-hover-color 3px;
        }
    }
}